{{> head }}
{{> navbar }}
<div class="row">
	<div class="col-8">
		<h1 class="p-2"> Hola Mundo </h1>
	</div>
	<div class="col-4 pt-2">
		<img class="img-thumbnail" src="{{ imgwha }}/what.jpg"/>
	</div>
</div>	

{{> footer }}